# 학적부 데이터 클리닝

In [1]:
import pandas as pd
import numpy as np

In [ ]:
student=pd.read_excel("D:/src/취업영향 요인분석 1차 - 입학, 학적, 학적변동정보/01학적(졸업일추가).xlsx", converters={"학번" : str})

### student 데이터프레임
- 학번
- 출생연도
- 대학
- 학부/학과
- 전공
- 제2전공
- 제3전공
- 부전공
- 연계전공
- 총 이수학기
- 졸업유예 여부
- 졸업유예 횟수
- 취득학위
- 졸업일

In [3]:
## 취득학위 고유값 -> 1전공에 부합하는 학위들만 존재
## 2,3,연계전공에 해당하는 학위들까지 원핫인코딩 진행
student['취득학위'].unique()

array(['행정학사', '문학사', '체육학사', '경영학사', '이학사', '원예학사', '경제학사', '공학사',
       '미술학사', '디자인학사'], dtype=object)

In [ ]:
## nan값으로 채워진 빈 학위컬럼들 생성
df=pd.DataFrame(columns=['ID', '1전공', '2전공', '3전공', '부전공', '총이수학기', '졸업유예횟수', '졸업일', 
'행정학사', '문학사', '체육학사', '경영학사', '이학사', '원예학사', '경제학사', '공학사', '미술학사', 
'디자인학사','글로벌문화학사', '조경학사', '공학사(경영공학)'])
df['ID']=student['학번']
df['1전공'] = np.where(student['전공'].notna(), student['전공'], student['학부/학과'])
df['2전공']=student['제2전공'].combine_first(student['연계전공'])
df['3전공']=student['제3전공']
df['부전공']=student['부전공']
df['총이수학기']=student['총 이수학기']
df['졸업유예횟수']=student['졸업유예 횟수']
df['졸업일']=student['졸업일']

In [ ]:
graduate=pd.read_excel("D:/src/취업효과성분석_merge(1127).xlsx", converters={"ID" : str})
df=pd.merge(df,graduate[['ID','입학년도','외국인유학생여부','최종취업구분']],on='ID')

In [68]:
# 컬럼 재배치
df=df[['ID', '1전공', '2전공', '3전공', '부전공', '총이수학기', '졸업유예횟수', '입학년도', '졸업일', 
'행정학사', '문학사', '체육학사', '경영학사', '이학사', '원예학사', '경제학사', '공학사', '미술학사', 
'디자인학사','글로벌문화학사', '조경학사', '공학사(경영공학)', '외국인유학생여부', '최종취업구분']]

In [39]:
df['1전공'].unique()

array(['행정학과', '저널리즘전공', '영어영문학과', '아동학과', '언론홍보학전공', '방송영상학전공', '교육심리학과',
       '체육학과', '경영학과', '비즈니스커뮤니케이션전공', '불어불문학과', '디지털영상전공', '독어독문학과',
       '국어국문학과', '수학과', '화학전공', '화학과', '생명환경공학전공', '중어중문학과', '생명환경공학과',
       '원예생명조경학과', '일어일문학과', '사학과', '식품공학전공', '식품공학과', '기독교학과', '경제학과',
       '식품영양학전공', '식품영양학과', '의류학과', '컴퓨터학과', '문헌정보학과', '콘텐츠디자인학과',
       '정보보호학과', '사회복지학과', '멀티미디어학과', '현대미술전공', '공예전공', '시각디자인전공',
       '산업디자인학과', '현대미술과', '공예학과', '시각디자인학과', '디지털미디어학과', '소프트웨어융합학과',
       '패션산업학과'], dtype=object)

In [40]:
df['2전공'].unique()

array(['경영학과', nan, '사회복지학과', '저널리즘전공', '국제학전공', '행정학과', '데이터과학전공',
       '글로벌문화산업·MICE전공', '경제학과', '일어일문학과', '의류학과', '교육심리학과', '독어독문학과',
       '청소년학전공', '국어국문학과', '영어영문학과', '디지털융합경영전공', '비즈니스커뮤니케이션전공',
       '멀티미디어학과', '정보보호학과', '문예창작전공', '식품영양학과', '기업보안융합전공', '시각디자인전공',
       '수학과', '공공안전전공', '언론홍보학전공', '중어중문학과', '식품공학전공', '바이오화장품공학전공',
       '바이오인포매틱스전공', '소프트웨어융합학과', '사학과', '기독교학과', '스마트농업공학전공', '생명환경공학전공',
       '도시환경예술디자인전공', '생명환경공학과', '디지털영상전공', '디지털미디어학과', '박물관학전공', '체육학과',
       '아동학과', '시각디자인학과', '불어불문학과', '공예전공', '식품영양학전공', '현대미술전공'],
      dtype=object)

## 학과별 학위 분류
- '경영학과' -> 경영학사
- '경제학과' -> 경제학사
- '공공안전전공' -> 행정학사
- '공예전공' -> 미술학사
- '공예학과' -> 미술학사
- '교육심리학과' -> 문학사
- '국어국문학과' -> 문학사
- '국제학전공' -> 문학사
- '글로벌문화산업·MICE전공' -> 글로벌문화학사
- '기독교학과' -> 문학사
- '기업보안융합전공' -> 공학사


- '도시환경예술디자인전공' -> 조경학사
- '독어독문학과' -> 문학사
- '데이터과학전공' -> 공학사
- '디지털미디어학과' -> 공학사
- '디지털영상전공' -> 문학사
- '디지털융합경영전공' -> 공학사(경영공학)


- '멀티미디어학과' -> 공학사
- '문예창작전공' -> 문학사
- '문헌정보학과' -> 문학사


- '바이오인포매틱스전공' -> 공학사
- '바이오화장품공학전공' -> 공학사
- '박물관학전공' -> 문학사
- '방송영상학전공' -> 문학사
- '불어불문학과' -> 문학사
- '비즈니스커뮤니케이션전공' -> 문학사


- '사학과' -> 문학사
- '사회복지학과' -> 문학사
- '산업디자인학과' -> 디자인학사
- '생명환경공학과' -> 이학사
- '생명환경공학전공' -> 이학사
- '소프트웨어융합학과' -> 공학사
- '수학과' -> 이학사
- '스마트농업공학전공' -> 공학사
- '시각디자인학과' -> 디자인학사
- '시각디자인전공' -> 디자인학사
- '식품공학전공' -> 이학사
- '식품공학과' -> 이학사
- '식품영양학전공' -> 이학사
- '식품영양학과' -> 이학사


- '아동학과' -> 문학사
- '언론홍보학전공' -> 문학사
- '영어영문학과' -> 문학사
- '원예생명조경학과' -> 원예학사
- '일어일문학과' -> 문학사
- '의류학과' -> 이학사


- '저널리즘전공' -> 문학사
- '중어중문학과' -> 문학사
- '정보보호학과' -> 공학사


- '청소년학전공' -> 문학사
- '체육학과' -> 체육학사


- '컴퓨터학과' -> 공학사
- '콘텐츠디자인학과' -> 공학사


- '행정학과' -> 행정학사
- '화학전공' -> 이학사
- '화학과' -> 이학사
- '현대미술전공' -> 미술학사
- '현대미술과' -> 미술학사

In [42]:
# 각 학사별 학과(전공) 리스트
list_경영=['경영학과']
list_경제=['경제학과']
list_공학=['기업보안융합전공','데이터과학전공','디지털미디어학과','멀티미디어학과',
        '바이오인포매틱스전공','바이오화장품공학전공','소프트웨어융합학과','스마트농업공학전공',
        '정보보호학과','컴퓨터학과','콘텐츠디자인학과']
list_공학경영=['디지털융합경영전공']
list_글로벌문화=['글로벌문화산업·MICE전공']
list_디자인=['산업디자인학과','시각디자인학과','시각디자인전공']
list_문학=['교육심리학과','국어국문학과','국제학전공','기독교학과','독어독문학과',
        '디지털영상전공','문예창작전공','문헌정보학과','박물관학전공','방송영상학전공',
        '불어불문학과','비즈니스커뮤니케이션전공','사학과','사회복지학과','아동학과',
        '언론홍보학전공','영어영문학과','일어일문학과','저널리즘전공','중어중문학과',
        '청소년학전공']
list_미술=['공예전공','공예학과','현대미술전공','현대미술과']
list_원예=['원예생명조경학과']
list_이학=['생명환경공학과','생명환경공학전공','수학과','식품공학전공','식품공학과',
        '식품영양학전공','식품영양학과','의류학과','화학전공','화학과']
list_조경=['도시환경예술디자인전공']
list_체육=['체육학과']
list_행정=['공공안전전공','행정학과']

In [69]:
## 해당 학사를 취득한 경우는 1
df['행정학사'] = np.where(df['1전공'].isin(list_행정), 1, df['행정학사'])
df['행정학사'] = np.where(df['2전공'].isin(list_행정), 1, df['행정학사'])
df['행정학사'] = np.where(df['3전공'].isin(list_행정), 1, df['행정학사'])

df['문학사'] = np.where(df['1전공'].isin(list_문학), 1, df['문학사'])
df['문학사'] = np.where(df['2전공'].isin(list_문학), 1, df['문학사'])
df['문학사'] = np.where(df['3전공'].isin(list_문학), 1, df['문학사'])

df['체육학사'] = np.where(df['1전공'].isin(list_체육), 1, df['체육학사'])
df['체육학사'] = np.where(df['2전공'].isin(list_체육), 1, df['체육학사'])
df['체육학사'] = np.where(df['3전공'].isin(list_체육), 1, df['체육학사'])

df['경영학사'] = np.where(df['1전공'].isin(list_경영), 1, df['경영학사'])
df['경영학사'] = np.where(df['2전공'].isin(list_경영), 1, df['경영학사'])
df['경영학사'] = np.where(df['3전공'].isin(list_경영), 1, df['경영학사'])

df['이학사'] = np.where(df['1전공'].isin(list_이학), 1, df['이학사'])
df['이학사'] = np.where(df['2전공'].isin(list_이학), 1, df['이학사'])
df['이학사'] = np.where(df['3전공'].isin(list_이학), 1, df['이학사'])

In [70]:
df['원예학사'] = np.where(df['1전공'].isin(list_원예), 1, df['원예학사'])
df['원예학사'] = np.where(df['2전공'].isin(list_원예), 1, df['원예학사'])
df['원예학사'] = np.where(df['3전공'].isin(list_원예), 1, df['원예학사'])

df['경제학사'] = np.where(df['1전공'].isin(list_경제), 1, df['경제학사'])
df['경제학사'] = np.where(df['2전공'].isin(list_경제), 1, df['경제학사'])
df['경제학사'] = np.where(df['3전공'].isin(list_경제), 1, df['경제학사'])

df['공학사'] = np.where(df['1전공'].isin(list_공학), 1, df['공학사'])
df['공학사'] = np.where(df['2전공'].isin(list_공학), 1, df['공학사'])
df['공학사'] = np.where(df['3전공'].isin(list_공학), 1, df['공학사'])

df['미술학사'] = np.where(df['1전공'].isin(list_미술), 1, df['미술학사'])
df['미술학사'] = np.where(df['2전공'].isin(list_미술), 1, df['미술학사'])
df['미술학사'] = np.where(df['3전공'].isin(list_미술), 1, df['미술학사'])

df['디자인학사'] = np.where(df['1전공'].isin(list_디자인), 1, df['디자인학사'])
df['디자인학사'] = np.where(df['2전공'].isin(list_디자인), 1, df['디자인학사'])
df['디자인학사'] = np.where(df['3전공'].isin(list_디자인), 1, df['디자인학사'])

In [71]:
df['글로벌문화학사'] = np.where(df['1전공'].isin(list_글로벌문화), 1, df['글로벌문화학사'])
df['글로벌문화학사'] = np.where(df['2전공'].isin(list_글로벌문화), 1, df['글로벌문화학사'])
df['글로벌문화학사'] = np.where(df['3전공'].isin(list_글로벌문화), 1, df['글로벌문화학사'])

df['조경학사'] = np.where(df['1전공'].isin(list_조경), 1, df['조경학사'])
df['조경학사'] = np.where(df['2전공'].isin(list_조경), 1, df['조경학사'])
df['조경학사'] = np.where(df['3전공'].isin(list_조경), 1, df['조경학사'])

df['공학사(경영공학)'] = np.where(df['1전공'].isin(list_공학경영), 1, df['공학사(경영공학)'])
df['공학사(경영공학)'] = np.where(df['2전공'].isin(list_공학경영), 1, df['공학사(경영공학)'])
df['공학사(경영공학)'] = np.where(df['3전공'].isin(list_공학경영), 1, df['공학사(경영공학)'])

In [73]:
## 해당 학사를 취득하지 못한 경우는 0
df.iloc[:,9:-2]=df.iloc[:,9:-2].fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1563 entries, 0 to 1562
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1563 non-null   object
 1   1전공        1563 non-null   object
 2   2전공        508 non-null    object
 3   3전공        1 non-null      object
 4   부전공        37 non-null     object
 5   총이수학기      1563 non-null   int64
 6   졸업유예횟수     1563 non-null   int64
 7   입학년도       1563 non-null   int64
 8   졸업일        1563 non-null   object
 9   행정학사       1563 non-null   int64
 10  문학사        1563 non-null   int64
 11  체육학사       1563 non-null   int64
 12  경영학사       1563 non-null   int64
 13  이학사        1563 non-null   int64
 14  원예학사       1563 non-null   int64
 15  경제학사       1563 non-null   int64
 16  공학사        1563 non-null   int64
 17  미술학사       1563 non-null   int64
 18  디자인학사      1563 non-null   int64
 19  글로벌문화학사    1563 non-null   int64
 20  조경학사       1563 non-null   int64
 21  공학사(경영공학)  1563 non-null   int64
 22  외국인유학생여부   1563 non-null   object
 23  최종취업구분     1563 non-null   object
dtypes: int64(16), object(8)
memory usage: 305.3+ KB

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_3908\393167301.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,9:-2]=df.iloc[:,9:-2].fillna(0)

In [74]:
## 외국인 유학생여부 -> 숫자치환
df.replace('아니요',0,inplace=True)
df.replace('예',1,inplace=True)

In [ ]:
# 분석용 취업구분(=취업유무 0,1)
def determine_employment(row):
    ## 취업자는 1
    if row['최종취업구분'] in ['취업자(건보가입자)', '교내취업자', '취업자(프리랜서)', '취업자(1인창(사)업자)', 
                         '취업자(개인창작활동종사자) - 전시', '취업자(해외취업자)']:
        return 1
    ## 미취업자는 0
    elif row['최종취업구분'] == '기타':
        return 0
    ## 제외인정자는 결측값
    else:
        return np.nan

df['취업유무'] = df.apply(determine_employment, axis=1)